.App {
    font-family:inherit;
    text-align: center;
  }
  
  body {
    color: black;
    background-color: #2C3539;
  }
  
  input {
    background: border-box;
    color: black;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
  }
  
  button {
    background: content-box;
    color: black;
    border: none;
  }
  